@inherits NancyRazorViewBase<Trellendar.WebSite.Modules.LogIn.Models.TrelloLogInModel>
@{
    this.Initialize(Resources.TrelloLogInPageTitle, "LogIn");
}

<div>
    @Resources.TrelloAuthorizationPrompt
    <a href="" redirect="@Html.Raw(Model.AuthorizationUrl)">
        @Resources.ClickAction
    </a>
</div>
<div>
    @Resources.TrelloTokenPrompt
</div>
<form action="~/TrelloLogInCallback" method="POST">
    <input type="hidden" name="UserID" value="@Model.UserID" />
    <input type="text" name="AccessToken" />
    <input type="submit" />
</form>
