@using Trellendar.WebSite.Nancy.Extensions
@{
    this.Initialize("Your profile", "UserProfile", "Controller");
}

<div class="floatleft">
    @Model.Email's boards:
    @foreach (var board in Model.AvailableBoards)
    {
        <div board="@board.ID">
            @board.Name
        </div>
    }
</div>
<div class="floatright">
    @Model.Email's calendars:
    @foreach (var calendar in Model.AvailableCalendars)
    {
        <div calendar="@calendar.ID">
            @calendar.Name
        </div>
    }
</div>
<div class="floatnone"></div>
