@inherits NancyRazorViewBase<Trellendar.WebSite.Modules.UserProfile.Models.IndexModel>
@{
    this.Initialize(Resources.UserProfilePageTitle, "UserProfile", "Controller");
}

<div>
    @Model.Email
</div>
<div class="floatleft">
    <div>
        @Resources.BoardsItem:
    </div>
    @foreach (var board in Model.AvailableBoards)
    {
        <div>
            <div ng-click="SelectBoard('@board.ID')" ng-class="{selected: IsBoardSelectedOrBound('@board.ID')}" class="floatleft">
                @board.Name
            </div>
            <div class="floatright">
                <a href="" ng-click="BindBoard('@board.ID')" ng-hide="SelectedCalendar == null || IsBoardBound('@board.ID')">
                    @Resources.BindAction
                </a>
                <a href="" ng-click="UnbindBoard('@board.ID')" ng-hide="!IsBoardBound('@board.ID')">
                    @Resources.UnbindAction
                </a>
            </div>
            <div class="clear"></div>
        </div>
    }
</div>
<div class="floatright">
    <div>
        @Resources.CalendarsItem:
    </div>
    @foreach (var calendar in Model.AvailableCalendars)
    {
        <div>
            <div ng-click="SelectCalendar('@calendar.ID')" ng-class="{selected: IsCalendarSelectedOrBound('@calendar.ID')}" class="floatleft">
                @calendar.Name
            </div>
            <div class="floatright">
                <a href="" ng-click="BindCalendar('@calendar.ID')" ng-hide="SelectedBoard == null || IsCalendarBound('@calendar.ID')">
                    @Resources.BindAction
                </a>
                <a href="" ng-click="UnbindCalendar('@calendar.ID')" ng-hide="!IsCalendarBound('@calendar.ID')">
                    @Resources.UnbindAction
                </a>
            </div>
            <div class="clear"></div>
        </div>
    }
</div>
<div class="clear"></div>
<div>
    <a href="" ng-click="Save()">
        @Resources.SaveAction
    </a>
    <div>
        {{Message}}
    </div>
</div>