@using Trellendar.WebSite.Nancy.Extensions
@{
    this.Initialize("Your profile", "UserProfile", "Controller");
}

<div class="floatleft">
    @Model.Email's boards:
    @foreach (var board in Model.AvailableBoards)
    {
        <div board="@board.ID">
            <div class="floatleft">
                @board.Name
            </div>
            <a href="#" bind-board="@board.ID" class="floatright">
                bind
            </a>
            <a href="#" unbind-board="@board.ID" class="floatright">
                unbind
            </a>
            <div class="floatnone"></div>
        </div>
    }
</div>
<div class="floatright">
    @Model.Email's calendars:
    @foreach (var calendar in Model.AvailableCalendars)
    {
        <div calendar="@calendar.ID">
            <div class="floatleft">
                @calendar.Name
            </div>
            <a href="#" bind-calendar="@calendar.ID" class="floatright">
                bind
            </a>
            <a href="#" unbind-calendar="@calendar.ID" class="floatright">
                unbind
            </a>
            <div class="floatnone"></div>
        </div>
    }
</div>
<div class="floatnone"></div>
